In [47]:
import pandas as pd
import matplotlib.pyplot as plt
data = pd.read_csv("D:/restaurant_dataset.csv")
print(data.head(1))

   Restaurant ID   Restaurant Name  Country Code         City  \
0        6317637  Le Petit Souffle           162  Makati City

                                             Address  \
0  Third Floor, Century City Mall, Kalayaan Avenu...

                                    Locality  \
0  Century City Mall, Poblacion, Makati City

                                    Locality Verbose   Longitude   Latitude  \
0  Century City Mall, Poblacion, Makati City, Mak...  121.027535  14.565443

                     Cuisines  ...          Currency Has Table booking  \
0  French, Japanese, Desserts  ...  Botswana Pula(P)               Yes

  Has Online delivery Is delivering now Switch to order menu Price range  \
0                  No                No                   No           3

   Aggregate rating  Rating color Rating text Votes
0               4.8    Dark Green   Excellent   314

[1 rows x 21 columns]

## Task 2: City Analysis
### Identify the city with the highest number of restaurants

In [51]:
City_counts = data['City'].value_counts()
City_most_restaurants = City_counts.idxmax()
City_most_restaurants_count = City_counts.max()
print("highest number of Restaurants in City =",City_most_restaurants, City_most_restaurants_count)

highest number of Restaurants in City = New Delhi 5473

##  Calculate the average rating for restaurants in each city

In [53]:
average_ratings = data.groupby('City')['Aggregate rating'].mean()
print("average_ratings for restaurant in each city =", average_ratings)

average_ratings for restaurant in each city = City
Abu Dhabi          4.300000
Agra               3.965000
Ahmedabad          4.161905
Albany             3.555000
Allahabad          3.395000
                     ...
Weirton            3.900000
Wellington City    4.250000
Winchester Bay     3.200000
Yorkton            3.300000
stanbul            4.292857
Name: Aggregate rating, Length: 141, dtype: float64

## Determine the city with the highest average rating

In [55]:

city_highest_avg_rating = average_ratings.idxmax()
highest_avg_rating = average_ratings.max()
print("City with the Highest Average Rating = ", highest_avg_rating)

City with the Highest Average Rating =  4.9